<div>
  <form action="/dishes/<%= id %>" method="post">
    <input type="hidden" name="_method" value="PUT" />
    <input type="text" name="title" value="<%= title %>" />
    <input type="text" name="img" value="<%= img_url %>" />
    <button>Edit</button>
  </form>
</div>
