<div>
  <form action="/share" method="post">
    <input type="text" name="name" placeholder="name" />
    <input type="text" name="img" placeholder="img" />
    <button>Send</button>
  </form>
</div>
