<div class="signin">
  <form action="/signin-user" method="post">
    <input type="email" name="email" placeholder="email" />
    <input type="password" name="password" placeholder="password" />
    <button>Sign In</button>
  </form>
</div>
